/* theme dark */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bg-black {
  background-color: black;
}

.bg-light-black {
  background-color: #262626 !important;
}

.text-black {
  color: black;
}

.text-light-black {
  color: #262626;
}

.bg-dark-primary {
  background-color: #fcbc73 !important;
}

.text-dark-primary {
  color: #fcde67 !important;
}

/* theme light */
.bg-light {
  background-color: #fffbf0;
}

.bg-light-2 {
  background-color: #fffbf0;
}

.bg-light-primary {
  background-color: #232f3e !important;
}

.text-light-primary {
  color: #232f3e !important;
}


.react-tel-input input {
  width: 100% !important;
}

.main-banner-content {
  top: 15%;
  left: 5%;
}

.main-banner-content h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.main-banner-content h5 {
  font-size: 42px;
  line-height: 54px;
  letter-spacing: -2px;
  font-weight: 500;
  text-transform: none;
}

.main-banner-content p {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.4;
}

.small-banner-content {
  top: 25%;
  left: 10%;
}

.small-banner-content h4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.small-banner-content h5 {
  font-size: 22px;
  line-height: 34px;
  letter-spacing: -2px;
  font-weight: 500;
  text-transform: none;
}

.small-banner-content p {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.4;
  color: #131921;
}

.button {
  background-color: #232f3e;
  color: white;
  font-size: 14px;
  padding: 13px 33px;
  text-decoration: none;
  border-radius: 25px;
}

.button:hover {
  background-color: #febd69;
  color: #131921;
}

.small-banner {
  width: 49%;
}

.gap {
  gap: 10px;
}

.padd {
  padding-top: 100px;
}

.padd-1 {
  padding-top: 74px;
}

.wid-300 {
  width: 600px;
  position: absolute;
  top: 120px;
  left: 5% !important;
}

.pad-top {
  padding-top: 0;
}

.wid-300 h3 {
  font-size: 55px;
}

.wid-300 p {
  font-size: 18px;
}

.div-3 {
  width: 400px;
  height: 1500px;
  background-color: red;
  margin: 10px auto;
}

.test {
  font-size: 25px;
  color: white;
  padding-top: 300px;
}

.login-btn {
  font-size: 16px;
  padding: 8px;
  background-color: transparent;
  border: 0;
}

.user-name {
  margin: 0;
  padding-right: 10px;
}

.user-logo {
  padding-top: 0px;
}

.loader-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.834) url("https://media.giphy.com/media/8agqybiK5LW8qrG3vJ/giphy.gif") center no-repeat;
  z-index: 1;
}

/* loader */


.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #dfc;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

.load {
  width: 60px;
  height: 60px;
  position: fixed;
  top: 0;
  left: 83%;
}


/*   Footer css   */




.section_padding {
  padding: 4rem 4rem;
}

.footer {
  background-color: #2d2d32;
}

.sb_footer {
  display: flex;
  flex-direction: column;
}

.sb_footer-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  text-align: left;
  margin-bottom: 2rem;
}

.sb_footer-links_div {
  width: 150px;
  margin: 1rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: white;
}

.sb_footer-links_div a {
  color: rgb(175, 175, 179);
  text-decoration: none;
}

.socialmedia {
  display: flex;
  flex-direction: row;
}

.socialmedia img {
  width: 80%;
}

.sb_footer-links_div h4 {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 0.9rem;
}

.sb_footer-links_div p {
  font-size: 12px;
  line-height: 15px;
  margin: 0.5rem 0;
  cursor: pointer;
}

.sb_footer-below {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.2rem;
}

.sb_footer-below-links {
  display: flex;
  flex-direction: row;
}

.sb_footer-below-links a {
  text-decoration: none;
}

.sb_footer-below-links p {
  font-size: 13px;
  line-height: 15px;
  margin-left: 2rem;
  color: white;
  font-weight: 600;
}

.sb_footer-below-links span {
  font-size: 13px;
  line-height: 15px;
  margin-left: 2rem;
  color: white;
  font-weight: 600;
}

hr {
  color: white !important;
  width: 100%;
}

.sb_footer-copyright p {
  font-size: 13px;
  line-height: 15px;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

@media screen and (max-width: 850px) {
  .sb_footer-heading h1 {
    font-size: 44;
    line-height: 50px;
  }
}

@media screen and (max-width: 550px) {
  .sb_footer-heading h1 {
    font-size: 34;
    line-height: 42px;
  }

  .sb_footer-links div {
    margin: 1 rem 0;
  }

  .sb_footer-btn p {
    font-size: 14px;
    line-height: 20px;
  }

  .sb_footer-below {
    flex-direction: column;
    justify-content: left;
  }

  .sb_footer-below-links {
    flex-direction: column;
  }

  .sb_footer-below-links p {
    margin-left: 0rem;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .sb_footer-heading h1 {
    font-size: 27px;
    line-height: 38px;
  }
}

/*   Footer css ends  */



/*   About css starts  */

.about {
  padding-top: 55px;
  width: 100%;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about .content img {
  height: auto;
  width: 500px;
  max-width: 100%;
}

.about .text {
  width: 550px;
  max-width: 100%;
  padding: 0 20px;
}

.about .content {
  width: 1280px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.text h1 {
  font-size: 85px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.text h5 {
  font-size: 25px;
  margin-bottom: 25px;
  text-transform: capitalize;
  letter-spacing: 2px;
}

.text p {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 1px;
  margin-bottom: 45px;
}

.text button {
  background-color: #ffcc74;
  border: 2px solid transparent;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 30px;
  font-size: 17px;
  font-weight: bold;
}

.text button:hover {
  transform: scale(1.05);
  background-color: transparent;
  border: 2px solid #ffcc74;
  color: #ffcc74;
  transition: .4s;
  cursor: pointer;
}

.iframe {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}








/*   About css ends  */




/* Contact Us Starts*/
.contact {
  padding-top: 40px;
  padding-bottom: 30px;
}

.about .content .product-details .header-tag {
  font-size: 85px;
  margin-bottom: 20px;
  text-transform: capitalize;
  padding: 0 10px;
}

.about .content .text .right {
  padding: 25px 10px;
}

.about .content .text .right .field {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: .3s;
}

.field-background {
  background-color: #fcde67;
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: .3s;
}

.field-background:hover {
  background-color: white;
}

.about .content .text .right .field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.about .content .text .right textarea {
  min-height: 150px;
}

.about .content .text .right .btn {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #2ecc71;
  color: #fff;
  font-size: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: .3s;
}

.about .content .text .right .btn:hover {
  background-color: #27ae60;
}

.about .content .text .right .field:focus {
  border: 2px solid rgba(30, 85, 250, 0.47);
  background-color: #fff;
}

@media screen and (max-width: 880px) {
  .contact-box {
    grid-template-columns: 1fr;
  }

  .left {
    height: 200px;
  }
}


/* Contact Us Ends*/

/* Welcome Header starts*/

.welcome {
  color: white;
  font-weight: bold;
}

.no-welcome {
  color: #191659;
  font-weight: bold;
}

/* Welcome Header ends*/



.btn-add-card {
  align-items: left;
}

.btn-add-wishlist {
  align-items: right;
}

.select {
  width: 100%;
  min-width: 50px;
  max-width: 100px;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 5px 10px;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

.padd-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

@media screen and (max-width: 850px) {}

@media screen and (max-width: 550px) {
  .padd-1 {
    padding-top: 74px;
  }

  .wid-300 {
    width: 270px;
    position: absolute;
    top: 10px;
    left: 5% !important;
  }

  .wid-300 h3 {
    font-size: 22px;
  }

  .wid-300 p {
    font-size: 15px;
  }

  .wid-300 a {
    display: none;
  }

  .padd {
    padding-top: 0px;
  }

  .itemsOff {
    width: 100% !important;
  }

  .itemsOff2 {
    padding-top: 10px;
    width: 49% !important;
    display: inline-block !important;
  }

  .search {
    padding-top: 0 !important;
  }

  .padd-5 {
    padding-top: 3rem !important;
    padding-bottom: 0 !important;
  }

  .about {
    padding-top: 0;
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about .content img {
    height: auto;
    width: 300px;
    max-width: 100%;
  }

  .about .text {
    width: 500px;
    max-width: 100%;
    padding: 0 20px 0 20px;
    text-align: center;
  }

  .about .content {
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }

  .text h1 {
    font-size: 55px;
    margin-bottom: 20px;
    text-transform: capitalize;
    text-align: center;
  }

  .text h5 {
    font-size: 20px;
    margin-bottom: 25px;
    text-transform: capitalize;
    letter-spacing: 2px;
    text-align: center;
  }

  .text p {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 45px;
    text-align: center;
  }

  .text button {
    background-color: #ffcc74;
    border: 2px solid transparent;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 17px;
    font-weight: bold;
  }

  .text button:hover {
    transform: scale(1.2);
    background-color: transparent;
    border: 2px solid #ffcc74;
    color: #ffcc74;
    transition: .4s;
    cursor: pointer;
  }

  .contact-padding {
    padding-top: 200px;
  }

  .contact {
    height: 1000px;
  }



  .you {
    width: 200px;
  }
}







@media screen and (max-width: 400px) {
  .padd-1 {
    padding-top: 74px;
  }

  .wid-300 {
    width: 200px;
    position: absolute;
    top: 2px;
    left: 5% !important;
  }

  .wid-300 h3 {
    font-size: 20px;
  }

  .wid-300 p {
    font-size: 14px;
    line-height: 16px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    /* number of lines to show */
    line-clamp: 4;
    -webkit-box-orient: vertical;
  }

  .wid-300 a {
    display: none;
  }

  .padd {
    padding-top: 0px;
  }

  .itemsOff {
    width: 100% !important;
  }

  .itemsOff2 {
    padding-top: 10px;
    width: 48% !important;
    display: inline-block !important;
  }
  .titleOff{
    width: 100px;
  }
  .small-banner-content {
    top: 15%;
    left: 5%;
  }
  
  .small-banner-content h4 {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 0 12px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
  }
  
  .small-banner-content h5 {
    font-size: 22px;
    line-height: 22px;
    letter-spacing: -2px;
    font-weight: 500;
    text-transform: none;
  }
  
  .small-banner-content p {
    display: none;
  }

  .search {
    padding-top: 0 !important;
  }

  .padd-5 {
    padding-top: 3rem !important;
    padding-bottom: 0 !important;
  }

  .about {
    padding-top: 0;
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about .content img {
    height: auto;
    width: 300px;
    max-width: 100%;
  }

  .about .text {
    width: 500px;
    max-width: 100%;
    padding: 0 20px 0 20px;
    text-align: center;
  }

  .about .content {
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }

  .text h1 {
    font-size: 55px;
    margin-bottom: 20px;
    text-transform: capitalize;
    text-align: center;
  }

  .text h5 {
    font-size: 20px;
    margin-bottom: 25px;
    text-transform: capitalize;
    letter-spacing: 2px;
    text-align: center;
  }

  .text p {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 45px;
    text-align: center;
  }

  .text button {
    background-color: #ffcc74;
    border: 2px solid transparent;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 17px;
    font-weight: bold;
  }

  .text button:hover {
    transform: scale(1.2);
    background-color: transparent;
    border: 2px solid #ffcc74;
    color: #ffcc74;
    transition: .4s;
    cursor: pointer;
  }

  .contact-padding {
    padding-top: 200px;
  }

  .contact {
    height: 1050px;
  }



  .you {
    width: 200px;
  }
}